* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.city, .country, .seo {
    position: relative;
}
.city_frame,
.country_frame,
.seo_frame {
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    left: 1px;
    font-size: 10px;
    padding: 0 5px;
    height: 23px;
    color: white;
    padding-top: 13px;
}

.city_frame {
    width: 60px;
    border: 1px solid rgb(193, 249, 210);
    padding-left: 15px;
}

.country_frame {
    width: 100%;
    border: 1px solid #e36db5;
}

.seo_frame {
    border: 1px solid #72eef9;
}

.city_frame_span,
.country_frame_span,
.seo_frame_span {
    border-radius: 6px;
    padding: 0 5px;
}

.seo_frame_span {
    background: #72eef9;
    margin: 17px 0px;
}

.city_frame_span {
    background: rgb(193, 249, 210);
}

.country_frame_span {
    background: #e36db5;
    margin: 17px -5px;
}

.delete_btn {
    position: absolute;
    top: -15px;
    right: 0.5px;
    font-size: 16px;
	cursor: pointer;
}
.text_search{
    line-height: 26px;
}
